*{
    box-sizing: border-box;
    /* padding: 0;
    margin: 0; */
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 3000px;
}

/* start navbar */
.navbar{
    background-color: #333;
}

.navbar h2{
    width: 20%;
    color: #fff;
    padding: 10px 0px;
}

.navbar ul{
  width: 80%;
  line-height: 78px;
  text-align: center;
}

.navbar ul li{
  display: inline-block;
  padding: 10px;
}

.navbar ul li a{
  color: #fff;
  text-decoration: none;
}

.navbar span i{
  color: #fff;
  font-size: 30px;
}

@media (max-width:767px){
  .navbar ul{
      display: none;
  }

  .navbar ul li{
      display: block;
      text-align: center;
  }

  .navbar h2{
      width: 50%;
  }
  .navbar .visible-xs {
    display: block;
    float: right;
    line-height: 100px;

  }
}

/* end navbar */
/* start header */
.header{
    background-image: url(../images/background3.webp);
    min-height: 350px;
    background-size: cover;
    position: relative;
}
.header .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;    
}

.header .overlay h1{
    text-transform: uppercase;
    font-size: 30px;
    padding-top: 50px;
}

.overlay .plan {
    padding: 10px;
    border: 1px solid;
    width: 48%;
    font-size: 18px;
    margin: 0 1%;
}

.overlay .order {
    padding: 10px;
    border: 1px solid;
    margin: 20px auto;
    width: 98%;
}


/* extra small mobile(custom screen) */
@media (max-width:420px) and (max-width:766px){
    h1{
        font-size: 20px !important;
    }
    .overlay .plan{
        float: none;
        margin: 5px auto;
        font-size: 15px;
    }
    .visible-xs{
        display: block !important;
    }

    .hidden-xs{
        display: none;
    }
}

/* end header */

/* start features */
.features .feature{
  padding: 0 20px 0 0;
  color: #888;
}

.features .h1{
    font-size: 40px;
    color: #888;
}
.features p{
    line-height: 1.7;
}

@media (max-width:767px){ /* extar small screens */
    .features .feature{
        text-align: center;
    }

    .features .feature:nth-of-type(even){
       background-color: #ddd;
    }
}

@media (min-width:768px) and (max-width:991px){ /* small screens */
    .features .feature{
        width: 50%;
    }
}

@media (min-width:992px){ /* meduim and large screens */
    .features .feature{
     width: 33.33%;
    }
}





/* @media (min-width:200px) and (max-width:766px){
    .features .feature{
        width: 100% !important;
        text-align: center !important;
    }
}

@media (min-width:767px)and (max-width:991px){
    .features .feature{
        width: 50% !important;
    }
} */


/* end features */

/* strat about-us */
.about-us {
    background-color: #f1f1f1;
    padding: 50px 0;
}

.about-us h2{
    color: #afadad;
    font-size: 50px;
}
.about-us .responsive-paragraph{
    color: #888;
}

@media (max-width:767px){
    .about-us .responsive-paragraph{
        text-align: center;
    }
}
/* end about-us */

/* start gallery */

  .gallery .image img{
    width: 100%;
}

/*  extarsmall scrren */
@media(max-width:767px){
    .gallery .image{
        width: 100%;
    }
}
/* small scrren */
@media(min-width:768px){
    .gallery .image{
        width: 50%;
    }
}

/* meduim scrren */
@media(min-width:992px){
    .gallery .image{
        width: 33.3333%;
    }
}

/* large scrren */
@media(min-width:1200px){
    .gallery .image{
        width: 25%;
    }
}

/* end gallery */

/* start pricing table  */

.pricing-table{
    background-color: #444;
    color: #fff;
    padding: 5px 0 50px;
}
.pricing-table .pricing-item{
 border: 2px solid;
 padding: 20px 0 0;
 position: relative;
}

.pricing-item h3{
    font-size: 25px;
    margin: 15px 0 5px;
}

.pricing-item span{
    font-size: 20px;
}
.pricing-item ul{
    margin: 8px 0px 0;
    line-height: 2;
}

.pricing-table .h1{
    font-size: 50px;
}

@media (max-width:767px){
    .pricing-table .pricing-item{
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (min-width:768px){
    .pricing-table .pricing-item{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media (min-width:992px){
    .pricing-table .pricing-item{
        width: 32.6666%;
        margin-bottom: 0;
    }
    .pricing-item.middle{
        margin: 0 1%;
    }

    .pricing-item.plus{
        left: 33.6666%;
    }

    .pricing-item.middle{
        right: 33.6666%;
    }
}
/* start pricing table  */

/* start testmonials */
  .testmonials{
      padding: 50px 0;
  }

  .testmonials .h1{
    margin: 0 0 20px;
    color: #555;
  }
  .testmonials .testmonial{
    background: #eee;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  .testmonial p{
      line-height: 1.5;
      margin: 5px 0 0;
  }
  .testmonial .avatar{
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }

  .testmonial .avatar img{
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #fff;
      padding: 2px;
  }
  .testmonial h3 {
    margin: 10px 0 0 0;
}
  .testmonial .info{
    margin-left: 20px;
    width: calc(100% - 140px);
  }

  @media (max-width:767px){
    .testmonials .testmonial .avatar{
        float: none;
        margin: auto;
    }
    .testmonials .testmonial .info{
        float: none;
        width: 100%;
        margin: auto;
    }
    .testmonials .testmonial .info h3,
    .testmonials .testmonial .info p{
        text-align: center;
    }
  }

  @media (min-width:768px){
    .testmonials .testmonial:first-of-type{
        width: 100%;
    }
    .testmonials .testmonial:not(:first-of-type){
      width: 49%;
    }
    .testmonials .testmonial:last-of-type{
        margin-left: 2%;
      }
  }

  @media (min-width:768px) and (max-width:991px){
    .testmonials .testmonial:not(:first-of-type) .avatar{
        float: none;
        margin: auto;
    }
    .testmonials .testmonial:not(:first-of-type) .info{
        float: none;
        width: 100%;
        margin: auto;
    }
    .testmonials .testmonial:not(:first-of-type) .info h3{
        text-align: center;
    }
  }
  @media (min-width:992px){
    .testmonials .testmonial:first-of-type{
        width: 80%;
        margin-left: 10%;
    }
  }
/* end testmonials */


/* start information */
.information{
    background-color: #afadad;
    padding:50px 0;
}
.information .h1{
    font-size: 50px;
    color: #555;
}
.information .list-info li{
    display: inline-block;
    padding: 15px;
    background: #eee;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}
.information .list-info li.selected{
    background-color: #fff;
    color: #0f0;
}
.content-info > div{
    background-color: #fff;
    padding: 20px;
    line-height: 1.8;
}

.content-info > div:not(:first-of-type){
    display: none;
}

@media (max-width:767px){
    .information .list-info li{
        display: block;
    }
}
/* end information */

/* start footer */

.footer{
    background: #333;
    color: #fff;
}

.footer .copyright ,
.footer .design {
    text-align: center;
    padding: 10px;
}
@media (max-width: 767px){
    .footer .copyright ,
    .footer .design {
        width: 100%;
    }
}

@media (min-width: 768px){
    .footer .copyright ,
    .footer .design {
        width: 50%;
    }
}

/* end footer */

/* start my framework */
.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearFix{
    clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none;
}

.text-center{
    text-align: center;
}

.float-l{
    float: left;
}
.h1{
    font-size: 2em;
}

.capitalize{
    text-transform: capitalize;
}

.responsive-paragraph{
    line-height: 1.8;
    font-size: 20px;
}
.list-unstyle{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* end my framework */

/* start media screens */
/* small scrren */
@media(min-width:768px) and (max-width:991px){
 .container{
     width: 750px;
 }

 .responsive-paragraph{
     text-align: center;
     font-size: 18px;
 }

 /* .visible-sm{
    display: block !important;
} */

}

/* meduim scrren */
@media(min-width:992px) and (max-width:1199px){
    .container{
        width: 970px;
    }
    .visible-md{
        display: block !important;
    }
}

/* large scrren */
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}