/* start my framework */
* {
  box-sizing: border-box; }

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px; }

.clearFix {
  clear: both; }

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none; }

.text-center {
  text-align: center; }

.float-l {
  float: left; }

.h1 {
  font-size: 2em; }

.capitalize {
  text-transform: capitalize; }

.responsive-paragraph {
  line-height: 1.8;
  font-size: 20px; }

.list-unstyle {
  margin: 0;
  padding: 0;
  list-style: none; }

/* end my framework */
/* start media screens */
/* small scrren */
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px; }

  .responsive-paragraph {
    text-align: center;
    font-size: 18px; }

 /* .visible-sm{
    display: block !important;
} */ }
/* meduim scrren */
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px; }

  .visible-md {
    display: block !important; } }
/* large scrren */
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
/* start navbar */
.navbar {
  background-color: #333; }
  .navbar h2 {
    width: 30%;
    color: #fff;
    padding: 10px 0px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar h2 {
        float: none;
        margin: auto;
        text-align: center; } }
    @media (max-width: 767px) {
      .navbar h2 {
        width: 100%; } }
  .navbar ul {
    text-align: center; }
    @media (min-width: 768px) and (max-width: 991px) {
      .navbar ul {
        float: none;
        width: 100%;
        display: block !important; } }
    @media (max-width: 767px) {
      .navbar ul {
        display: none; } }
    @media (min-width: 992px) {
      .navbar ul {
        display: block !important;
        padding: 25px 0; } }
    .navbar ul li {
      display: inline-block;
      padding: 10px; }
      .navbar ul li a {
        color: #fff;
        text-decoration: none; }
      @media (max-width: 767px) {
        .navbar ul li {
          display: block; } }
  @media (max-width: 767px) {
    .navbar .visible-xs {
      display: block;
      position: absolute;
      right: 15px;
      line-height: 100px; } }
  @media (max-width: 420px) and (max-width: 766px) {
    .navbar .visible-xs .visible-xs {
      display: block !important; } }
  .navbar .visible-xs i {
    color: #fff;
    font-size: 30px; }

/* end navbar */
/* start header */
.header {
  background-image: url(../images/background3.webp);
  min-height: 350px;
  background-size: cover;
  position: relative; }
  .header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff; }
    .header .overlay h1 {
      text-transform: uppercase;
      font-size: 30px;
      padding-top: 50px; }
      @media (max-width: 420px) and (max-width: 766px) {
        .header .overlay h1 {
          font-size: 20px !important; } }
    .header .overlay .plan {
      padding: 10px;
      border: 1px solid;
      width: 48%;
      font-size: 18px;
      margin: 0 1%; }
      @media (max-width: 420px) and (max-width: 766px) {
        .header .overlay .plan {
          float: none;
          margin: 5px auto;
          font-size: 15px; } }
    .header .overlay .order {
      padding: 10px;
      border: 1px solid;
      margin: 20px auto;
      width: 98%; }
    @media (max-width: 420px) and (max-width: 766px) {
      .header .overlay .hidden-xs {
        display: none; } }

/* end header */
/* start features */
.features .feature {
  padding: 0 20px 0 0;
  color: #888; }
  @media (max-width: 767px) {
    .features .feature {
      text-align: center; }
      .features .feature::nth-of-type(even) {
        background-color: #ddd; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .features .feature {
      /* small screens */
      width: 50%; } }
  @media (min-width: 992px) {
    .features .feature {
      /* meduim and large screens */
      width: 33.33%; } }
.features .h1 {
  font-size: 40px;
  color: #888; }
.features p {
  line-height: 1.7; }

/* end features */
/* strat about-us */
.about-us {
  background-color: #f1f1f1;
  padding: 50px 0; }
  .about-us h2 {
    color: #afadad;
    font-size: 50px; }
  .about-us .responsive-paragraph {
    color: #888; }
    @media (max-width: 767px) {
      .about-us .responsive-paragraph {
        text-align: center; } }

/* end about-us */
/* start gallery */
@media (max-width: 767px) {
  .gallery .image {
    width: 100%; } }
@media (min-width: 768px) {
  .gallery .image {
    width: 50%; } }
@media (min-width: 992px) {
  .gallery .image {
    width: 33.3333%; } }
@media (min-width: 1200px) {
  .gallery .image {
    width: 25%; } }
.gallery .image img {
  width: 100%; }

/* end gallery */
/* start pricing table  */
.pricing-table {
  background-color: #444;
  color: #fff;
  padding: 5px 0 50px; }
  .pricing-table .pricing-item {
    border: 2px solid;
    padding: 20px 0 0;
    position: relative; }
    @media (max-width: 767px) {
      .pricing-table .pricing-item {
        width: 100%;
        margin-bottom: 10px; } }
    @media (min-width: 768px) {
      .pricing-table .pricing-item {
        width: 100%;
        margin-bottom: 10px; } }
    @media (min-width: 992px) {
      .pricing-table .pricing-item {
        width: 32.6666%;
        margin-bottom: 0; } }
    .pricing-table .pricing-item h3 {
      font-size: 25px;
      margin: 15px 0 5px; }
    .pricing-table .pricing-item span {
      font-size: 20px; }
    .pricing-table .pricing-item ul {
      margin: 8px 0px 0;
      line-height: 2; }
  @media (min-width: 992px) {
    .pricing-table .middle {
      margin: 0 1%;
      right: 33.6666%; } }
  @media (min-width: 992px) {
    .pricing-table .plus {
      left: 33.6666%; } }
  .pricing-table .h1 {
    font-size: 50px; }

/* start pricing table  */
/* start testmonials */
.testmonials {
  padding: 50px 0; }
  .testmonials .h1 {
    margin: 0 0 20px;
    color: #555; }
  .testmonials .testmonial {
    background: #eee;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 10px; }
    @media (min-width: 768px) {
      .testmonials .testmonial:first-of-type {
        width: 100%; } }
    @media (min-width: 992px) {
      .testmonials .testmonial:first-of-type {
        width: 80%;
        margin-left: 10%; } }
    @media (min-width: 768px) {
      .testmonials .testmonial:not(:first-of-type) {
        width: 100%; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .testmonials .testmonial:not(:first-of-type) .avatar {
        float: none;
        margin: auto; } }
    @media (min-width: 768px) and (max-width: 991px) {
      .testmonials .testmonial:not(:first-of-type) .info {
        float: none;
        width: 100%;
        margin: auto; }
        .testmonials .testmonial:not(:first-of-type) .info h3 {
          text-align: center; } }
    @media (min-width: 768px) {
      .testmonials .testmonial:last-of-type {
        margin-left: 2%; } }
    .testmonials .testmonial p {
      line-height: 1.5;
      margin: 5px 0 0; }
      @media (max-width: 767px) {
        .testmonials .testmonial p {
          text-align: center; } }
    .testmonials .testmonial .avatar {
      width: 100px;
      height: 100px;
      margin-top: 10px; }
      .testmonials .testmonial .avatar img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: #fff;
        padding: 2px; }
      @media (max-width: 767px) {
        .testmonials .testmonial .avatar {
          float: none;
          margin: auto; } }
    .testmonials .testmonial h3 {
      margin: 10px 0 0 0; }
      @media (max-width: 767px) {
        .testmonials .testmonial h3 {
          text-align: center; } }
    .testmonials .testmonial .info {
      margin-left: 20px;
      width: calc(100% - 140px); }
      @media (max-width: 767px) {
        .testmonials .testmonial .info {
          float: none;
          width: 100%;
          margin: auto; } }

/* end testmonials */
/* start information */
.information {
  background-color: #afadad;
  padding: 50px 0; }
  .information .h1 {
    font-size: 50px;
    color: #555; }
  .information .list-info li {
    display: inline-block;
    padding: 15px;
    background: #eee;
    color: #555;
    font-size: 22px;
    cursor: pointer; }
    @media (max-width: 767px) {
      .information .list-info li {
        display: block; } }
  .information .list-info .selected {
    background-color: #fff;
    color: #0f0; }
  .information .content-info div {
    background-color: #fff;
    padding: 20px;
    line-height: 1.8; }
    .information .content-info div:not(:first-of-type) {
      display: none; }

/* end information */
/* start footer */
.footer {
  background: #333;
  color: #fff; }
  .footer .copyright,
  .footer .design {
    text-align: center;
    padding: 10px; }
    @media (max-width: 767px) {
      .footer .copyright,
      .footer .design {
        width: 100%; } }
    @media (min-width: 768px) {
      .footer .copyright,
      .footer .design {
        width: 50%; } }

/* end footer */

/*# sourceMappingURL=style.css.map */
