/* start my framework */
*{
    box-sizing: border-box;
}
.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.clearFix{
    clear: both;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg{
    display: none;
}

.text-center{
    text-align: center;
}

.float-l{
    float: left;
}
.h1{
    font-size: 2em;
}

.capitalize{
    text-transform: capitalize;
}

.responsive-paragraph{
    line-height: 1.8;
    font-size: 20px;
}
.list-unstyle{
    margin: 0;
    padding: 0;
    list-style: none;
}
/* end my framework */

