/* start media screens */
/* small scrren */
@media(min-width:768px) and (max-width:991px){
    .container{
        width: 750px;
    }
   
    .responsive-paragraph{
        text-align: center;
        font-size: 18px;
    }
   
    /* .visible-sm{
       display: block !important;
   } */
   
   }
   
   /* meduim scrren */
   @media(min-width:992px) and (max-width:1199px){
       .container{
           width: 970px;
       }
       .visible-md{
           display: block !important;
       }
   }
   
   /* large scrren */
   @media(min-width:1200px){
       .container{
           width: 1170px;
       }
   }
   