/* start navbar */
.navbar{
    background-color: #333;
    h2{
        width: 30%;
        color: #fff;
        padding: 10px 0px;
        // meduim screen 
        @media (min-width: 768px) and (max-width:991px) {
            float: none;
            margin: auto;
            text-align: center
        }
        @media (max-width: 767px) {
            width: 100%;
        } 
    }
    ul{
        // width: 80%;
        text-align: center;
        // meduim screen 
        @media (min-width: 768px) and (max-width:991px)  {
            float: none;
            width: 100%;
            display: block !important;
        }
        @media (max-width: 767px) {
            display: none;
        } 
        @media (min-width: 992px) {
            display: block !important;
            padding: 25px 0;
        } 
        
        li{
            display: inline-block;
            padding: 10px;
            a{
                color: #fff;
                text-decoration: none;
            }
            @media (max-width: 767px) {
                display: block;
            } 
        }
    }
    .visible-xs{
        @media (max-width:767px){
            display: block;
            position: absolute;
            right: 15px;
            line-height: 100px;
        }
        @media (max-width:420px) and (max-width:766px){
            .visible-xs{
                display: block !important;
            }
        }
        i{
            color: #fff;
            font-size: 30px;
        }
    }
}
/* end navbar */

/* start header */
.header{
    background-image: url(../images/background3.webp);
    min-height: 350px;
    background-size: cover;
    position: relative;
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff; 
        h1{
            text-transform: uppercase;
            font-size: 30px;
            padding-top: 50px;
            @media (max-width:420px) and (max-width:766px){
                font-size: 20px !important;
            }
        }
        .plan{
            padding: 10px;
            border: 1px solid;
            width: 48%;
            font-size: 18px;
            margin: 0 1%;
            @media (max-width:420px) and (max-width:766px){
                float: none;
                margin: 5px auto;
                font-size: 15px;
            }
        }
        .order{
            padding: 10px;
            border: 1px solid;
            margin: 20px auto;
            width: 98%;
        }
        @media (max-width:420px) and (max-width:766px){
            .hidden-xs{
                display: none;
            }
        }
    }
}
/* end header */

/* start features */
.features {
    .feature{
        padding: 0 20px 0 0;
        color: #888;
        @media (max-width:767px){
            text-align: center;
        
            &::nth-of-type(even){
            background-color: #ddd;
           }
        }
        @media (min-width:768px) and (max-width:991px){ /* small screens */
                width: 50%;
        }
        @media (min-width:992px){ /* meduim and large screens */
             width: 33.33%;
        }
    }
    .h1{
        font-size: 40px;
        color: #888;
    }
    p{
        line-height: 1.7;
    }
}
/* end features */
  
/* strat about-us */
.about-us {
    background-color: #f1f1f1;
    padding: 50px 0;
    h2{
        color: #afadad;
        font-size: 50px;
    }
    .responsive-paragraph{
        color: #888;
        @media (max-width:767px){
            text-align: center;
        }
    }
}
/* end about-us */

/* start gallery */

.gallery{
    .image{
        @media(max-width:767px){
                width: 100%;
        }
        @media(min-width:768px){
            width: 50%;
        }
        @media(min-width:992px){
            width: 33.3333%;
        }
        @media(min-width:1200px){
            width: 25%;
        }
        img{
            width: 100%;
        }
    }
}

/* end gallery */

/* start pricing table  */

.pricing-table{
    background-color: #444;
    color: #fff;
    padding: 5px 0 50px;
    .pricing-item{
        border: 2px solid;
        padding: 20px 0 0;
        position: relative;
        @media (max-width:767px){
            width: 100%;
            margin-bottom: 10px;
        }
        @media (min-width:768px){
            width: 100%;
            margin-bottom: 10px;
        }
        @media (min-width:992px){
            width: 32.6666%;
            margin-bottom: 0;
        }
        h3{
            font-size: 25px;
            margin: 15px 0 5px;
        }
        span{
            font-size: 20px;
        }
        ul{
            margin: 8px 0px 0;
            line-height: 2;
        }
    }
    .middle{
        @media (min-width:992px){
            margin: 0 1%;
            right: 33.6666%;
        }
    }
    .plus{
        @media (min-width:992px){
            left: 33.6666%;
        }
    }
    .h1{
        font-size: 50px;
    }
}
/* start pricing table  */

/* start testmonials */
.testmonials{
    padding: 50px 0;
    .h1{
        margin: 0 0 20px;
        color: #555;
    }
    .testmonial{
        background: #eee;
        padding: 20px;
        border: 1px solid #ccc;
        margin-bottom: 20px;
        border-radius: 10px;
        &:first-of-type{
            @media (min-width:768px){
                width: 100%;
            }
            @media (min-width:992px){
                width: 80%;
                margin-left: 10%;
            }
        }
        &:not(:first-of-type){
            @media (min-width:768px){
                width: 100%;
            }
            @media (min-width:768px) and (max-width:991px){
                .avatar{
                    float: none;
                    margin: auto;
                }
            }
            @media (min-width:768px) and (max-width:991px){
                .info{
                    float: none;
                    width: 100%;
                    margin: auto;
                    h3{
                        text-align: center;
                    }
                }
            }
        }
        &:last-of-type{
            @media (min-width:768px){
                margin-left: 2%;
            }
        }
        p{
            line-height: 1.5;
            margin: 5px 0 0;
            @media (max-width:767px){
                text-align: center;
            }
        }
        .avatar{
            width: 100px;
            height: 100px;
            margin-top: 10px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #fff;
                padding: 2px;
            }
            @media (max-width:767px){
                float: none;
                margin: auto;
            }
        }
        h3{
            margin: 10px 0 0 0;
            @media (max-width:767px){
                text-align: center;
            }
        }
        .info{
            margin-left: 20px;
            width: calc(100% - 140px);
            @media (max-width:767px){
                float: none;
                width: 100%;
                margin: auto;
            }
        }
    }
}
/* end testmonials */

/* start information */
.information{
    background-color: #afadad;
    padding:50px 0;
    .h1{
        font-size: 50px;
        color: #555;
    }
    .list-info{
        li{
            display: inline-block;
            padding: 15px;
            background: #eee;
            color: #555;
            font-size: 22px;
            cursor: pointer;
            @media (max-width:767px){
                display: block;
            }
        }
        .selected{
            background-color: #fff;
            color: #0f0;
        }
    }
    .content-info{
        div{
            background-color: #fff;
            padding: 20px;
            line-height: 1.8;
            &:not(:first-of-type){
                display: none;
            }
        }
    }
}
/* end information */

/* start footer */

.footer{
    background: #333;
    color: #fff;
    .copyright ,
    .design{
        text-align: center;
        padding: 10px;
        @media (max-width: 767px){
            width: 100%;
        }
        @media (min-width: 768px){
            width: 50%;
        }
    }
}

/* end footer */
